*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

*.log
*.swp
*.tmp
*.bak
*.orig
*.rej

*.sh~

/node_modules/
/vendor/

build/
dist/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd

# IMPORTANT:
*.sec
*.crt
*.key
*.pem
*.p12
*.pfx
*.jks
*.keystore
*.truststore
*.cer
*.csr
*.srl
*.der
*.crl
*.p7b
*.p7c
*.p7r
*.p7s
*.p8
secret/
sec.*

/1_os_prep/playbooks/authorized_keys
