apiVersion: v1
kind: Secret
metadata:
  name: juicefs-secret
  namespace: default
  labels:
    juicefs.com/validate-secret: "true"
type: Opaque
stringData:
  name: juicefs
  metaurl: redis://10.96.170.226/1 # redis-replication.redis-system.svc
  storage: minio
  bucket: https://localhost:19000/juicefs
  access-key: <ACCESS_KEY>
  secret-key: <SECRET_KEY>
